<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <% if authenticated? %>
    <%= link_to "Edit this post", edit_post_path(@post) %> |
  <% end %>
  <%= link_to "Back to posts", posts_path %>

  <% if authenticated? %>
    | <%= button_to "Destroy this post", @post, method: :delete %>
  <% end %>
</div>
# app/views/posts/show.html.erb

<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <% if authenticated? %>
    <%= link_to "Edit this post", edit_post_path(@post) %> |
  <% end %>
  <%= link_to "Back to posts", posts_path %>

  <% if authenticated? %>
    | <%= button_to "Destroy this post", @post, method: :delete %>
  <% end %>
</div>
